<a href="https://colab.research.google.com/github/p1chapke/p1chapke/blob/main/Python%20Basic%20Prctice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
dist_km = float(input("Print KM to convert into Miles:"))
print("You've entered:", dist_km)
dist_miles = dist_km * 0.621371
print("Distance in Miles is", dist_miles)

Print KM to convert into Miles:564.5
You've entered: 564.5
Distance in Miles is 350.7639295

In [15]:
age = 22
gpa = 3.8
result = age >=18 and gpa > 3.9
print(result)

False

In [16]:
language = "Python"
print("1.", language == "python")

age = 18
print("2.", age >=18)
print("3.", age >18)
print("4.", age >=18 and language == "Java")

1. False
2. True
3. False
4. False

In [19]:
#if else statement
score = int(input("ENter your score: "))

if score >=50:
  print("Congratulations, You've passed your exam")

ENter your score: 55
Congratulations, You've passed your exam

In [20]:
#if else statement
score = int(input("ENter your score: "))

if score >=50:
  print("Congratulations, You've passed your exam")

if score <50:
  print("Sorry, You've failed the exam")

ENter your score: 35
Sorry, You've failed the exam

In [22]:
score = 35

if score >=50:
  print("Congratulations, You've passed your exam")

else:
  print("Sorry, You've failed the exam")

Sorry, You've failed the exam

In [24]:
score = 105
if score > 100 or score <0:
  print("Score is Invalid")

elif score >=50:
  print("Congratulations, You've passed your exam")

else:
  print("Sorry, You've failed the exam")

Score is Invalid

In [27]:
num = int(input("Enter a number to check: "))

if num > 0:
  print("Number is a positive integer")

elif num == 0:
  print("Number is a Zero")

else:
  print("Number is a negative integer")

Enter a number to check: -1
Number is a negative integer

In [29]:
num = int(input("Enter a number to check: "))

if num > 0:
  print("Number is a positive integer")

elif num == 0:
  print("Number is a Zero")

else:
  print("Number is a negative integer")

Enter a number to check: 5
Number is a positive integer

In [32]:
num = float(input("Enter a number: "))

if num >= 0:

  if num > 0:
    print("Number is Positive")

  else:
    print("Number is zero")

else:
  print ("Number is Neagtive")

Enter a number: 0
Number is zero

In [33]:
n = 0

while n<5:
  print ("I'm inside a loop")
  n = n+1

I'm inside a loop
I'm inside a loop
I'm inside a loop
I'm inside a loop
I'm inside a loop

In [34]:
n = 0

while n<5:
  print (n)
  n = n+1

0
1
2
3
4

In [36]:
n = 5

while n<=10:
  print (n)
  n = n+1

5
6
7
8
9
10

In [39]:
n = int(input("Enter a Number"))

count = 1
while count<=10:
  product = n * count
  print(n, "x" , count, "=", product)
  count = count+1

Enter a Number6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [44]:
n = int(input("Enter a Number"))

count = 10
while count >=1:
  product = n * count
  print(n, "x" , count, "=", product)
  count = count-1

Enter a Number6
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6

In [46]:
text = "Python"

for char in text:
  print(char)

P
y
t
h
o
n

In [4]:
languages = ["English", "French", "Hindi"]

for language in languages:
  print(language)

English
French
Hindi

In [6]:
#Python Range Function

count = 1

while <=5:
  print(count)
  count = count + 1

SyntaxError: ignored

In [10]:
count = 1

while count <= 5:
  print(count)
  count = count +1

1
2
3
4
5

In [11]:
for count in range (1,6):
  print(count)

1
2
3
4
5

In [12]:
number = int(input("Enter an integer"))

for count in range (1,11):
  product = number * count
  print(number, "x", count, "=", product)

Enter an integer9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [20]:
add = 0

for num in range (1,101):
  add = num + add
print(add)

5050

In [16]:
total = 0

# looping from 1 to 100
for number in range(1, 101):
    total = total + number
print(total)

5050

In [21]:
bacon = 22

In [22]:
bacon

22

In [23]:
'spam' + 'spamspam'

'spamspamspam'

In [24]:
'spam' * 3

'spamspamspam'

In [25]:
a = str(input("Number"))
print(type(a))

Number4
<class 'str'>

In [ ]:
'I have eaten ' + 99 + ' burritos.'

In [27]:
#break and continue

for item in range (1,6):
  if item == 4:
    break
  print(item)
print("The End")

1
2
3
The End

In [28]:
while True:
  num = float(input("Enter a number: "))
  if num <= 0:
    break
  print("You Entered: ", num)

Enter a number: 5
You Entered:  5.0
Enter a number: 6
You Entered:  6.0
Enter a number: 0

In [ ]:
for i in range(10):
  num = float(input("enter a number: "))
  if num < 0:
    continue
  print(num)

In [34]:
lan = ["Python", "Java", "Swift", "C", "C++"]

for i in lan:
  if i == "Swift" or i == "C++":
    continue
  print(i)

Python
Java
C